@font-face {
	font-family: 'OpenSansLight';
	src: url('../../../webfonts/OpenSans/opensans-light-webfont.eot');
	src: url('../../../webfonts/OpenSans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../../../webfonts/OpenSans/opensans-light-webfont.svg#CrimsonRoman') format('svg'), url('../../../webfonts/OpenSans/opensans-light-webfont.woff') format('woff'), url('../../../webfonts/OpenSans/opensans-light-webfont.ttf') format('truetype');
	/*    src:url(../fonts/OpenSans-Light.ttf) format('truetype');*/
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansRegular';
	src: url('../../../webfonts/OpenSans/opensans-regular-webfont.eot');
	src: url('../../../webfonts/OpenSans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../../webfonts/OpenSans/opensans-regular-webfont.svg#CrimsonRoman') format('svg'), url('../../../webfonts/OpenSans/opensans-regular-webfont.woff') format('woff'), url('../../../webfonts/OpenSans/opensans-regular-webfont.ttf') format('truetype');
	/*src:url(../fonts/OpenSans-Regular.ttf)  format('truetype'); */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansMedium';
	src: url('../../../webfonts/OpenSans/opensans-semibold-webfont.eot');
	src: url('../../../webfonts/OpenSans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../../../webfonts/OpenSans/opensans-semibold-webfont.svg#CrimsonRoman') format('svg'), url('../../../webfonts/OpenSans/opensans-semibold-webfont.woff') format('woff'), url('../../../webfonts/OpenSans/opensans-semibold-webfont.ttf') format('truetype');
	/*src:url(../fonts/OpenSans-Semibold.ttf) format('truetype');*/
	font-weight: normal;
	font-style: normal;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, img, small, sub, b, dl, dd, dt, ul, li, label, article, details, footer, header, menu, nav, input, textarea, select {
	background: transparent;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	color: #4A4A4A;
	font-family: 'RobotoLight', Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 16px;
	position: relative;
	float: left;
	width: 100%;
	text-align: left;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input, textarea {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-o-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.clearfix:after {
	clear: both;
	content: "";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
}

* html .clearfix {
	zoom: 1;
}

/* IE6 */

*:first-child+html .clearfix {
	zoom: 1;
}

/* IE7 */

html, body {
	height: 100%;
	-webkit-tap-highlight-color: #f7f6f6;
}

html, body, table {
	font-size: 14px;
	font-weight: normal;
}

html, body, a, img {
	float: none;
	width: initial;
}

span {
	width: auto;
	display: inline-block;
	float: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.w50 {
	width: 50%;
}

.container {
	border: red solid 0px;
	text-align: center;
}

.limits {
	float: none;
	display: inline-block;
	max-width: 1280px;
	min-width: 320px;
}

.section {
	padding: 10px 0px 10px 0px;
	text-align: center;
	border: 1px solid yellowgreen;
}

.content{ padding: 23% 0% 0% 23%}

.col-info, .col-img {
	width: 50%;
}

/* .info h2, .info h3, .info h4, .info p{ color: #f7f6f6} */
.info h2{font-size:28px; border-bottom: 2px solid;}
.info h3{font-size:15px}
.info h4{font-size:12px}
.info p{ font-size:15px; padding: 12px 0px 0px 0px; text-align: justify}



.info.square span{
	width: 100%;
	font-size: 15px;
}

.info.square.light h2{color: #ffffff}
.info.square.light h3{color: #ffffff}
.info.square.light p{color: #ffffff}


.info.titles h2, .info.titles h3{color: black}
.info.titles h3{border-bottom: 2px solid; padding: 5px 0px 5px 0px}


.info.list-bullets p{color: #000000;}
.info.list-bullets ul li{
	padding: 0px 0px 0px 56px;
	margin: 10px 0px 17px 0px;
	background: transparent url('../img/recortes-25.png') left top no-repeat;
	background-size: 20px;}
.info.list-bullets ul li h3{color: black}



.head {}

.head .logo {
	width: 180px;
	height: 40px;
	padding: 21px 0px 0px 10px;
}

.head .logo img {
	width: 100%;
}

.head .menu {
	width: auto;
	padding: 21px 0px 0px 110px;
}

.head .menu li {
	width: auto;
	padding: 0px 30px 0px 0px;
}

.head .login {
	float: right;
	width: auto;
	padding: 8px 0px 0px 0px;
}

.head .login li {
	width: auto;
	padding: 0px 30px 0px 0px;
}


.banner .text {
	width: auto;
	/* z-index: 1; */
	position: absolute;
	top: 50%;
	left: 15%;
}

.banner .text .title {
	color: #ffffff;
	text-align: center;
	font-size: 48px;
	padding: 0px 0px 20px 0px;
}

.banner .text .subtitle {
	color: #ffffff;
	text-align: center;
	font-size: 24px;
}


.media-banner{
	border: 1px solid red;
}


.section.quienes {
	background: transparent url('../img/AboutUS.jpg') center center no-repeat;
	background-size: cover;
}

.quienes .col-info {
	padding: 120px 134px 80px 134px;
	background: transparent url('../img/recortes-08.png') center center no-repeat;
	background-size: contain;
	min-height: 800px;
}


.quienes .div-circle {
	background: gray;
	width: 450px;
	height: 450px;
	border-radius: 218px;
	top: 233px;
}

.col-img img {
	top: 64px;
	left: 16px;
}

.section.beneficios .content{ padding: 23% 0% 0% 23%}


.beneficios .col-img {
	background: transparent url('../img/benefits.jpg') center center no-repeat;
	min-height: 800px
}

.beneficios .col-info .lista-beneficios li {
	padding: 0px 0px 0px 56px;
	margin: 0px 0px 17px 0px;
	background: transparent url('../img/recortes-25.png') left center no-repeat;
	background-size: 20px;
}


.productos .col-img {
	background: transparent url('../img/tarjeta-de-credito.png') center center no-repeat;
	min-height: 500px;
	background-size: contain;
}

.productos .content {
    padding: 6% 23% 8% 22%;
}

.productos .content.square{
	padding: 6% 23% 8% 22%;
	background: transparent url('../img/recortes-16.png') center center no-repeat;
	background-size: contain;
}

.productos .info.square{
	padding: 28% 15% 26% 14%;
	margin: 10% 0% 0% 0%;
}
.productos .info.square h2, .productos .info.square span{text-align:right}

.productos .lista-beneficios {
    width: 60%;
    float: right;
}

.productos .img-producto {
    width: 30%;
}

.btn-menu {
	border: none;
	color: #ffffff;
	background: #051d49;
	padding: 13px 15px 15px 13px;
}