@font-face{ font-family:"RobotoLight";
	src: url('./fonts/roboto-light-webfont.eot');
 	src: url('./fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto-light-webfont.svg#CrimsonRoman') format('svg'),
      	 url('./fonts/roboto-light-webfont.woff') format('woff'),
      	 url('./fonts/roboto-light-webfont.ttf') format('truetype');
		font-weight: normal; font-style: normal;}
@font-face{ font-family:"RobotoRegular";
	src: url('./fonts/roboto-regular-webfont.eot');
 	src: url('./fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto-regular-webfont.svg#CrimsonRoman') format('svg'),
      	 url('./fonts/roboto-regular-webfont.woff') format('woff'),
      	 url('./fonts/roboto-regular-webfont.ttf') format('truetype');
		font-weight: normal;; font-style: normal;}
@font-face{ font-family:"OpenSans-Light";
	src: url('./fonts/OpenSans-Light.eot');
 	src: url('./fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
         url('./fonts/OpenSans-Light.svg#CrimsonRoman') format('svg'),
      	 url('./fonts/OpenSans-Light.woff') format('woff'),
      	 url('./fonts/OpenSans-Light.ttf') format('truetype');
		font-weight: normal;; font-style: normal;}
html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,a,img,small,sub,b,dl,dd,dt,ul,li,label,article,details,video,footer,header,menu,nav,input,textarea,select{
	background:transparent;	border:0;	outline:0;	padding:0;	margin:0; text-decoration:none; list-style:none; color:#4A4A4A;font-family:'OpenSans-Light',Arial, Helvetica, sans-serif; font-size:14px; position:relative; float:left; width:100%;text-align:left;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input,textarea{-webkit-user-select:auto;-moz-user-select: auto;-o-user-select: auto;-ms-user-select: auto; user-select: auto;      }
span{ font-family:inherit; font-size: inherit;color: inherit;}
*{box-sizing: border-box;-webkit-font-smoothing: antialiased;-moz-font-smoothing: antialiased;-o-font-smoothing: antialiased;-ms-font-smoothing: antialiased;font-smoothing: antialiased;}
.clearfix:after{clear: both; content: "";	display: block;	font-size: 0;	height: 0;	line-height: 0;	visibility: hidden;	width: 0;}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
html, body{ height:100%;-webkit-tap-highlight-color: #f7f6f6;}
html, body, table{font-size: 14px;font-weight: normal;}
html, body,a,img{ float:none; width:initial;}
.w100{ width:100%;}
.w90{width:90%;}
.w85{ width:85%;}
.w80{width:80%;}
.w75{width:75%;}
.w70{width:70%;}
.w66{ width:66.6666%;}
.w65{width:65%;}
.w63{width:63%;}
.w60{width:60%;}
.w50{ width:50%;}
.w44{ width:44.6666%;}
.w40{ width:40%;}
.w35{width:35%;}
.w33{ width:33.3333%;}
.w30{width:30%;}
.w25{ width:25%;}
.w22{ width:22%;}
.w20{ width:20%;}
.w15{ width:15%;}
.w12{width:12.5%}
.w10{ width:10%;}
.w5{ width:5%;}
.col12{ width:8.3333%;}
.pdngT{padding:25px 0px 25px 0px;}
.pddT50{padding:50px 0px 50px 0px;}
.pddTB50{padding:50px 0px 50px 0px;}
.pddB50{padding:0px 0px 50px 0px;}
.pddT40{padding:40px 0px 0px 0px;}
.pddTB40{padding:40px 0px 40px 0px;}
.pddB40{padding:0px 0px 40px 0px;}
.pddT30{padding:30px 0px 0px 0px;}
.pddTB30{padding:30px 0px 30px 0px;}
.pddB30{padding:0px 0px 30px 0px;}
.pddT25{padding:25px 0px 0px 0px;}
.pddTB25{padding:25px 0px 25px 0px;}
.pddB25{padding:0px 0px 25px 0px;}
.pddT20{padding:20px 0px 0px 0px;}
.pddTB20{padding:20px 0px 20px 0px;}
.pddB20{padding:0px 0px 20px 0px;}
.pddT15{padding:15px 0px 0px 0px;}
.pddTB15{padding:15px 0px 15px 0px;}
.pddB15{padding:0px 0px 15px 0px;}
.pddT10{padding:10px 0px 0px 0px;}
.pddB10{padding:0px 0px 10px 0px;}
.pddTB10{padding:10px 0px 10px 0px;}
.plft40{ padding:0px 0px 0px 40px;}
.aLeft{ text-align:left;}
.aRight{ text-align:right;}
.aCenter{ text-align:center;}
.fRight{ float:right;}
.bgGrn{background:#42B47B;}
.bgGrnDk{background:#00836A;}
.bgGry{background:#F8F8F8;}
.bgGryDk{background:#AAAAAA;}
.container{ border:gray solid 1px; text-align:center; padding:0px 0px 0px 0px; }
.lmts{ max-width:1280px; min-width:300px; border:dashed 0px red; float:none; display:inline-block; padding:0px 0% 0px 0%}
/*Modulos genericos RENGLONES*/
.module{border:red solid 0px; text-align: center;}
.module.head{ min-height: 50px; padding: 10px 0px 10px 0px}
	.module.WhoAre{padding:40px 0% 60px 0%;background: transparent url('../imgs/bgs-31.jpg') center center no-repeat; background-size: cover;background-attachment:fixed;}
	.module.Banner{top:0px;}
	.module.Benefits{padding:40px 0% 60px 0%;}
	.module.form{padding:60px 0% 30px 0%;}
	.module .cont{padding:0px 2% 0px 2%;}
	.module .clm{padding:0px 8% 0px 8%;}	
	
/*DECORACIONES*/
.crn{position:absolute; z-index:0; }
.crn.Tp{top:0px; right:0px;width: 45%;height: 150px;border: red solid 0px;background: transparent url('../imgs/recortes-27.png') left bottom no-repeat; background-size: cover;}
.crn.Bm{left:0px; bottom:0px; width:82%;height: 280px;border: red solid 0px;background: transparent url('../imgs/recortes-28.png') right top no-repeat; background-size: cover;}	
.crn.Dg{left:0px; top:-10%; width:100%;height: 110%;border: red solid 0px;background: transparent url('../imgs/recortes-35.png') right top no-repeat; background-size: 100% 99%; z-index:-1}
/*SECCIONES*/
.head{ min-height: 50px;  }
	.head .cont{ text-align: center;}
	.head .brand{ width: 220px;}
	.head .brand img{ width: 100%;}
	.head nav{ width: auto; float: none; display: inline-block; top:10px;}
	.head ul{ width: auto; }
	.head ul li{ width:auto;display: inline-block;}
	.head ul li a{padding: 0px 10px 0px 10px; text-align: center; font-size: 16px; font-family: 'RobotoLight',Arial, Helvetica, sans-serif;}
	.head .MnBtns{ float: right; top:3px;}
	.head .MnBtns li{ padding: 0px 0px 0px 15px; }
	.head .SbMenu{position: absolute; width: 200px; display: none; z-index: 2;}
	.head .SbMenu ul {width: 100%}
	.head .SbMenu ul li {width: 100%;}
.info{}
	.info h2{font-size: 55px; line-height:45px; color:#001F35;padding: 0px 0px 20px 0px;border-bottom: solid 2px #ccc;max-width:500px;}
	.info h2 span{font-size: 30px;}
	.info h4{font-size: 25px;border-bottom: solid 2px #ccc;padding: 5px 0px 5px 0px;margin: 0px 0px 35px 0px; line-height: 45px; color:#666;max-width:500px;font-family: 'OpenSans-Light',Arial, Helvetica, sans-serif;}
	.info h4.nb{border-bottom: solid 0px #ccc;margin: 0px 0px 5px 0px;}
	.info p{font-size: 15px; text-align: justify;font-family: 'RobotoRegular',Arial, Helvetica, sans-serif;}
	.info .sldr{padding:10% 0px 0px 0px}
	
.info.square{ background: transparent url('../imgs/recortes-08.png') center center no-repeat; background-size: 100% 100%; padding: 17% 8% 25% 8%; max-width:450px; min-height: 520px; z-index:10}
.info.square.gr{ background: transparent url('../imgs/recortes-16.png') center center no-repeat; background-size: 100% 100%; max-width:500px;padding: 25% 8% 20% 8%;}
.info.square.gry{ background: transparent url('../imgs/recortes-20.png') center center no-repeat;background-size: 100% 100%; max-width:500px;padding: 25% 8% 20% 8%; }
	.info.square h2{color: #fff;border-bottom: solid 1px #fff;padding: 0px 0px 20px 0px;margin: 0px 0px 35px 0px;}
	.info.square p{color: #fff;}
.info.sector{}
	.info.sector li{ background: transparent url('../imgs/recortes-25.png') 0px 5px no-repeat; background-size: 15px 15px; padding: 0px 0px 20px 30px}
	.info.sector li h8{font-family: 'RobotoRegular',Arial, Helvetica, sans-serif; font-size: 16px; color:#007696}
	.imgNf{left:-8%}
	.imgNf img{ width:90%; max-width:90%; }
	
.ltLnk{padding:55px 0px 0px 0px}
.ltLnk li{padding:0px 0px 15px 0px}
/*COMPONENTES*/
.btns{width:auto; padding: 7px 13px 7px 13px; background: #007696; color:#fff; font-size: 14px;font-family: 'RobotoLight',Arial, Helvetica, sans-serif; border: none; border-radius: 0px;}
.ttip{background:#007696; border-radius:50%; border:solid 2px #f7f6f6; cursor:pointer; position:absolute; right:30px; top:42px; color:#fff; width:30px; height:30px; }
.menuMb{ width:35px; height:30px; border:none; right:3%; top:5px;position: absolute; z-index:51;background:transparent url(../imgs/btnMenu.png) center center no-repeat; background-size:contain;}
.lnks{border-bottom:dashed 1px #97d700; color:#97d700}
.fields{border:red solid 1px; padding:10px 15px 20px 15px}
.fieldsBtn{border:red solid 1px; padding:50px 10px 20px 10px;text-align:center;}
.field{ border: solid 1px #333; border-radius:5px; height:40px;padding:0px 10px 0px 10px;}
.lbls{ padding:0px 0px 8px 0px; color:#999;}
select{border: solid 1px #333; border-radius:5px; height:40px;padding:0px 10px 0px 10px;}
textarea{ border: solid 1px #333; border-radius:5px;padding:0px 10px 0px 10px; resize:none;}

.rdBtn{height: 15px; width:15px; margin:0px 10px 0px 0px; display:none; opacity:0; visibility:hidden;}
.ratio{width:auto; background:transparent url('../imgs/ratiobutton_empty.png') left center no-repeat; background-size:20px 20px; font-size:15px; text-align:left; padding:3px 8px 3px 30px; border:none;}
.ratio.disabled{background:transparent url('../imgs/ratiobutton-DisableEmpty.png') left center no-repeat; background-size:20px 20px; outline:none}
.ratio.selected{background:transparent url('../imgs/ratiobutton_select.png') left center no-repeat; background-size:20px 20px;}
.ratio.selected.disabled{background:transparent url('../imgs/ratiobutton_DisableSelect.png') left center no-repeat; background-size:20px 20px;}
.ratio.TEST{background:red;}

.chkBox{height: 15px; width:15px; margin:0px 10px 0px 0px; display:none; opacity:0; visibility:hidden;}
.ChkBox{width:auto; background:transparent url('../imgs/checkbox_empty.png') left center no-repeat; background-size:20px 20px; font-size:15px; text-align:left; padding:3px 8px 3px 30px; border:none;}
.ChkBox.disabled{background:transparent url('../imgs/checkbox_EmptyDisable.png') left center no-repeat; background-size:20px 20px;outline:none}
.ChkBox.selected{background:transparent url('../imgs/checkbox_select.png') left center no-repeat; background-size:20px 20px;}
.ChkBox.selected.disabled{background:transparent url('../imgs/checkbox_DisableSelect.png') left center no-repeat; background-size:20px 20px;}


table{min-width: 500px;}
table td{padding:10px 25px 10px 25px;border: solid 1px #ccc; font-size: 16px;}
table td.hdr{ background: #f7f6f6}

/*MODALES*/
.overlay { background:#000; opacity:0.9	; position:fixed; z-index:98; top:0px; left:0px; height:100%;}
.message{ position:fixed; z-index:99; top:20%; left:0px; text-align:center;}
.message .ctn{ display: inline-block; float:none; background:#fff;color:#000; font-size:18px; text-align:center; max-width:650px; padding:20px 5% 30px 5% }

/*TOOLTIP*/
.tooltip{position: absolute;top: -80px;right: 10px;background: #f7f6f6;border: solid 1px #333;width: 120px;height: 120px;z-index:21}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {


}
@media only screen and (min-width: 1px) and (max-width: 2500px){
	
}
@media only screen and (min-width: 1px) and (max-width: 1980px){
	
}
@media only screen and (min-width: 1px) and (max-width: 1280px){
	
}
@media only screen and (min-width: 1px) and (max-width: 770px){
	
}
@media only screen and (min-width: 1px) and (max-width: 550px){
	.to20_550{width:20%}
	.to30_550{width:30%}
	.to40_550{width:40%}
	.to50_550{width:50%}
	.to60_550{width:60%}
	.to66_550{width:66.666%}
	.to100_550{width:100%}
	
.module .clm {padding: 0px 2% 0px 2%;}
.module.head{ padding: 10px 0px 0px 0px;max-height: 50px;}
.head nav{display:none;max-width: 345px;
    min-width: 345px;
    background: #fff;
    z-index: 50;
    top: -7px;
    right: -2%;
	background:#fff;
	float:right;
	border: solid 1px #999;
}
.head nav.MnBtns{top:-9px }
	.head nav ul li{width: 100%;
    border-bottom: solid 1px #ccc;
    padding: 4px 0px 4px 0px;}
.head nav.MnBtns ul {width:100%; }
.head nav.MnBtns ul li{width:100%; padding:5px 10px 5px 10px}
.head .SbMenu{position: relative; width: 100%; display: none; z-index: 2;}
	.head .SbMenu ul {width: 100%}
	.head .SbMenu ul li {width: 100%; top:5px;}
.info h2 {font-size: 40px;line-height: 35px;}
table {min-width: 390px;}
table td {padding: 10px 10px 10px 10px;}

}
@media only screen and (min-width: 1px) and (max-width: 300px){	
	.to20_350{width:20%}
	.to30_350{width:30%}
	.to40_350{width:40%}
	.to50_350{width:50%}
	.to60_350{width:60%}
	.to66_350{width:66.666%}
	.to100_350{width:100%}
}
